#!/usr/bin/env python

PACKAGE = "flow_behavior_layer"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add('enabled', bool_t, 0, 'Whether to apply this plugin or not', True)
gen.add('behavior_name', str_t, 0,
        'Behavior name (merge or nomerge)', 'merge')
gen.add('radius', double_t, 0,
        'Radius neighborhood to consider', 1.8, 1, 15)
gen.add('update_range', double_t, 0,
        'How far from the robot to update', 18.0, 1.0, 100.0)
gen.add('min_range', double_t, 0,
        'How near to the robot to update', 0.5, 1.0, 10.0)

exit(gen.generate(PACKAGE, PACKAGE, "FlowBehaviorLayer"))
