#!/usr/bin/env python

PACKAGE = "overtaking_layer"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add('enabled', bool_t, 0, 'Whether to apply this plugin or not', True)

exit(gen.generate(PACKAGE, PACKAGE, "OvertakingLayer"))
