<launch>
    <!-- visualization  -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find snn_launchers)/config/rviz/lobby.rviz"/>

    <!-- simulation module for perception and showing robot -->
    <include file="$(find snn_launchers)/launch/run_simulator.launch">
        <arg name="lobby" value="true"/>
        <arg name="scene" value="lobby"/>
    </include>

    <!-- Robot controllers -->
    <include file="$(find snn_launchers)/launch/robot_control.launch">
        <arg name="pose_initial_x" value="5.0"/>
        <arg name="pose_initial_y" value="2.0"/>
        <arg name="pose_initial_theta" value="0.7"/>
    </include>

    <!-- planning module with move base -->
    <include file="$(find snn_launchers)/launch/run_planning.launch">
        <arg name="scene" value="lobby"/>
        <arg name="reset_params" value="true"/>
    </include>

</launch>
